<div class="grid grid-cols-3">
    <app-product [img]="'https://picsum.photos/250/250'" [title]="'Producto 1'" [price]="30000"/>
    <app-product [img]="'https://picsum.photos/250/250'" [title]="'Producto 1'" [price]="30000"/>
    <app-product [img]="'https://picsum.photos/250/250'" [title]="'Producto 1'" [price]="30000"/>
    <app-product [img]="'https://picsum.photos/250/250'" [title]="'Producto 1'" [price]="30000"/>
    <app-product [img]="'https://picsum.photos/250/250'" [title]="'Producto 1'" [price]="30000"/>
</div>